<div class="card card-body">
    <div class="h3">Edit Video Idea</div>
    <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        
        <div class="form-group">
            <label for="title">Title of Video</label>
            <input type="text" class="form-control" name="title" value="{{idea.title}}" required>
        </div>
        <div class="form-group">
            <label for="deatils">Details</label>
            <textarea name="details" class="form-control" required>{{idea.details}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-md">Submit Changes</button>
    </form>
</div>